[user]
  name = Arturo Herrero
  email = arturo.herrero@gmail.com
[color]
  ui = auto
[alias]
  amend = commit --amend --no-edit
  br = branch
  branches = branch -a
  ca = !git add -A && git commit -v
  ci = commit -v
  co = checkout
  cob = checkout -b
  discard = "!git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)"
  head = checkout -- .
  hist = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(auto)%d %s %C(green)(%cr) %C(bold blue)<%an>'
  jump = !git stash && git checkout $1 && shift && git stash pop
  last = log -1 HEAD
  lg = log --graph --pretty=format:'%C(auto)%h %s %C(bold blue)<%an>'
  remotes = remote -v
  remove = !git push origin --delete $1 && git branch -d $1 2>/dev/null
  remove-remotes = !git remote update -p && git branch -r --merged origin/master | grep origin | grep -v master | cut -d"/" -f2- | xargs git push origin --delete
  st = status
  stashu = stash -u
  stashp = stash pop
  stats = shortlog -sn --no-merges
  tags = tag -l
  undo = reset HEAD^ --mixed
  unstage = reset HEAD --
  up = "!git remote update -p; git merge --ff-only @{u}"
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[pull]
  ff = only
[merge]
  ff = only
