[user]
  name = Arturo Herrero
  email = arturo.herrero@gmail.com
[color]
  ui = auto
[alias]
  amend = commit --amend --no-edit
  br = branch
  branches = branch -a
  ca = !git add -A && git commit -v
  ci = commit
  co = checkout
  cob = checkout -b
  head = checkout -- .
  hist = log --pretty=format:\"%C(auto) %h %s [%an]\" --graph
  jump = !git stash && git checkout $1 && shift && git stash pop
  last = log -1 HEAD
  remotes = remote -v
  remove = !git push origin :$1 && git branch -d $1
  st = status
  stats = shortlog -sn
  tags = tag -l
  undo = reset HEAD^ --mixed
  unstage = reset HEAD --
  up = "!git remote update -p; git merge --ff-only @{u}"
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
