[user]
  name = Arturo Herrero
  email = arturo.herrero@gmail.com
[color]
  ui = auto
[alias]
  br = branch
  branches = branch -a
  ca = !git add -A && git commit -v
  ci = commit
  co = checkout
  hist = log --pretty=format:\"%C(auto) %h %s [%an]\" --graph
  last = log -1 HEAD
  remotes = remote -v
  st = status
  stats = shortlog -sn
  tags = tag -l
  unstage = reset HEAD --
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
