# Perform file completion in a case insensitive fashion
set completion-ignore-case on

# Treat hyphens and underscores as equivalent
set completion-map-case on

# Add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Display matches without any possible partial completion at first tab press
set show-all-if-unmodified on

# Autocompleting by also looking at the text after the cursor
set skip-completed-text on

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot (.)
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# Enable incremental history search with Alt + up/down arrows
"\e[1;3A": history-search-backward
"\e[1;3B": history-search-forward

# Enable moving on the readline by word Alt + left/right arrows
"\e\e[C": forward-word
"\e\e[D": backward-word

# Enable history expansion with space
# E.g. typing !!<space> will replace the !! with your last command
$if Bash
  Space: magic-space
$endif
