<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>39FBB946-DBEB-4CD2-B468-0B9576766E0C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>Search Wikipedia ES for '{query}'</string>
			<key>url</key>
			<string>https://es.wikipedia.org/w/index.php?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E6006E8-110C-4C46-9335-F157DA2E9D21</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>calendar</string>
			<key>text</key>
			<string>Open Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>836BDFD6-DAF5-4F1B-844D-9487AA982C3A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>letterboxd</string>
			<key>text</key>
			<string>Letterboxd</string>
			<key>url</key>
			<string>https://letterboxd.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F6E0D61D-6DB6-4138-B788-4732C15184A3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>filmaffinity</string>
			<key>text</key>
			<string>FilmAffinity</string>
			<key>url</key>
			<string>https://www.filmaffinity.com/es/search.php?stext={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
